<div class="modal-header">
  <span class="modal-title">ルートの名前</span>
  <button type="button" class="btn btn-outline-secondary" aria-label="Close" (click)="activeModal.dismiss('dismiss')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>ルートの名前を入力してください。</div>
  <input class="form-control w-100" type="text" [(ngModel)]="routeName">
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss('cancel')">キャンセル</button>
  <button type="button" class="btn btn-success" (click)="onClickDone()" [disabled]=!routeName>OK</button>
</div>