openapi: 3.0.0
info:
  title: spot-share
  version: '1.0'
servers:
  - url: 'http://spot-share.nolit.net'
  - url: 'http://localhost'
    description: ''
paths:
  /routes:
    get:
      summary: ルートの一覧取得
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SimpleRoute'
      operationId: get-routes
      description: ルートの一覧取得
    post:
      summary: ルートの新規作成
      operationId: post-routes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Route'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Route'
        description: ''
      parameters: []
      description: ルートの新規作成
  '/routes/{routeId}':
    parameters:
      - schema:
          type: string
        name: routeId
        in: path
        required: true
    get:
      summary: 特定ルートの取得
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Route'
      operationId: get-routes-id
      description: 特定ルートの取得
    delete:
      summary: 特定ルートの削除
      operationId: delete-routes-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
      description: 特定ルートの削除
    patch:
      summary: 特定ルートの更新
      operationId: patch-routes-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Route'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Route'
      description: 特定ルートの更新
  /countries:
    get:
      summary: 国の一覧取得
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Country'
              examples: {}
      operationId: get-countries
      description: 国の一覧取得
  /restaurants:
    get:
      summary: レストランの一覧取得
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Restaurant'
      operationId: get-restaurants
      description: レストランの一覧取得
    post:
      summary: レストランの登録
      operationId: post-restaurants
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Restaurant'
      description: レストランの登録
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Restaurant'
  /hotels:
    get:
      summary: ホテルの一覧取得
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Hotel'
      operationId: get-hotels
      description: ホテルの一覧取得
    post:
      summary: ホテルの登録
      operationId: post-hotels
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hotel'
      description: ホテルの登録
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Hotel'
  /tourisms:
    get:
      summary: 観光地の一覧取得
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tourism'
      operationId: get-tourisms
      description: 観光地の一覧取得
    post:
      summary: 観光地の登録
      operationId: post-tourisms
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tourism'
      description: 観光地の登録
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tourism'
  /activities:
    get:
      summary: アクティビティの一覧取得
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Activity'
      operationId: get-activities
      description: アクティビティの一覧取得
    post:
      summary: アクティビティの登録
      operationId: post-activities
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
      description: アクティビティの登録
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Activity'
  /codes:
    get:
      summary: コードの一覧取得
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Code'
      operationId: get-codes
      description: コードの一覧取得
  '/activities/{activityId}':
    parameters:
      - schema:
          type: string
        name: activityId
        in: path
        required: true
    get:
      summary: 特定アクティビティの取得
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
      operationId: get-activities-activityId
      description: 特定アクティビティの取得
    put:
      summary: ''
      operationId: put-activities-activityId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
      description: アクティビティの更新
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Activity'
    delete:
      summary: 特定アクティビティの削除
      operationId: delete-activities-activityId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
      description: 特定アクティビティの削除
  '/hotels/{hotelId}':
    parameters:
      - schema:
          type: string
        name: hotelId
        in: path
        required: true
    get:
      summary: 特定ホテルの取得
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hotel'
      operationId: get-hotels-hotelId
      description: 特定ホテルの取得
    put:
      summary: 特定ホテルの更新
      operationId: put-hotels-hotelId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hotel'
      description: 特定ホテルの更新
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Hotel'
    delete:
      summary: 特定ホテルの削除
      operationId: delete-hotels-hotelId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hotel'
      description: 特定ホテルの削除
  '/restaurants/{restaurantId}':
    parameters:
      - schema:
          type: string
        name: restaurantId
        in: path
        required: true
    get:
      summary: 特定レストランの取得
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Restaurant'
      operationId: get-restaurants-restaurantId
      description: 特定レストランの取得
    put:
      summary: 特定レストランの更新
      operationId: put-restaurants-restaurantId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Restaurant'
      description: 特定レストランの更新
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Restaurant'
    delete:
      summary: 特定レストランの削除
      operationId: delete-restaurants-restaurantId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Restaurant'
      description: 特定レストランの削除
  '/tourisms/{tourismId}':
    parameters:
      - schema:
          type: string
        name: tourismId
        in: path
        required: true
    get:
      summary: 特定観光地の取得
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tourism'
      operationId: get-tourisms-tourismId
      description: 特定観光地の取得
    put:
      summary: 特定観光地の更新
      operationId: put-tourisms-tourismId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tourism'
      description: 特定観光地の更新
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tourism'
    delete:
      summary: 特定観光地の削除
      operationId: delete-tourisms-tourismId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tourism'
      description: 特定観光地の削除
components:
  schemas:
    SimpleRoute:
      title: RouteResponse
      type: object
      x-examples:
        スイス:
          routeId: 1
          routeName: スイス鉄道周遊ルート
      properties:
        routeId:
          type: integer
        routeName:
          type:
            - string
            - 'null'
      required:
        - routeId
    Country:
      title: Country
      type: object
      x-examples:
        日本:
          - countryCode: JPN
            countryName: 日本
            timezone: '+09:00'
            currencies:
              - countryCurrencyId: 126
                currencyCode: JPY
                currencySymbol: ¥
      properties:
        countryCode:
          type: string
        countryName:
          type: string
        timezone:
          type:
            - string
            - 'null'
        currencies:
          type: array
          items:
            type: object
            properties:
              countryCurrencyId:
                type: integer
              currencyCode:
                type:
                  - string
                  - 'null'
              currencySymbol:
                type:
                  - string
                  - 'null'
      required:
        - countryCode
        - countryName
    RouteDetail:
      title: RouteDetail
      type: object
      properties:
        beanKindDiv:
          type: integer
        routeDetailTourism:
          $ref: '#/components/schemas/RouteDetailTourism'
        routeDetailRestaurant:
          $ref: '#/components/schemas/RouteDetailRestaurant'
        routeDetailHotel:
          $ref: '#/components/schemas/RouteDetailHotel'
        routeDetailActivity:
          $ref: '#/components/schemas/RouteDetailActivity'
        routeDetailMeal:
          $ref: '#/components/schemas/RouteDetailMeal'
        routeDetailMove:
          $ref: '#/components/schemas/RouteDetailMove'
        routeDetailTime:
          $ref: '#/components/schemas/RouteDetailTime'
        routeDetailChecklist:
          $ref: '#/components/schemas/RouteDetailChecklist'
        routeDetailMemo:
          $ref: '#/components/schemas/RouteDetailMemo'
        routeDetailId:
          type: integer
        routeId:
          type: integer
      required:
        - beanKindDiv
    RouteDetailTourism:
      title: RouteDetailTourism
      type: object
      properties:
        routeDetailId:
          type: integer
        tourismId:
          type: integer
        tourismRate:
          type:
            - integer
            - 'null'
        tourismMinutes:
          type:
            - integer
            - 'null'
        tourismCost:
          type:
            - integer
            - 'null'
        tourism:
          $ref: '#/components/schemas/Tourism'
        routeId:
          type: integer
      required:
        - routeDetailId
    Tourism:
      title: Tourism
      type: object
      x-examples: {}
      properties:
        tourismId:
          type: integer
        tourismName:
          type: string
        country:
          $ref: '#/components/schemas/Country'
        tourismSummary:
          type:
            - string
          nullable: true
        tourismAddress:
          type:
            - string
          nullable: true
        tourismUrl:
          type:
            - string
          nullable: true
        tourismOpenTimeHours:
          type: string
        tourismOpenTimeMinutes:
          type: string
        tourismCloseTimeHours:
          type: string
        tourismCloseTimeMinutes:
          type: string
        tourismImages:
          type: array
          items:
            $ref: '#/components/schemas/TourismImage'
        uploadFiles:
          type: array
          description: ファイルの配列
          items: {}
      required:
        - tourismId
        - tourismName
    RouteDetailRestaurant:
      title: RouteDetailRestaurant
      type: object
      properties:
        routeDetailId:
          type: integer
        restaurantId:
          type: integer
        restaurantMealKindDiv:
          type:
            - integer
          nullable: true
        restaurantMealKindDivName:
          type:
            - string
          nullable: true
        restaurantRate:
          type:
            - integer
          nullable: true
        restaurantMinutes:
          type:
            - integer
          nullable: true
        restaurantCost:
          type:
            - integer
          nullable: true
        restaurant:
          $ref: '#/components/schemas/Restaurant'
        routeId:
          type: integer
      required:
        - routeDetailId
        - restaurantId
    RouteDetailHotel:
      title: RouteDetailHotel
      type: object
      properties:
        routeDetailId:
          type: integer
        hotelId:
          type: integer
        hotelRate:
          type:
            - integer
          nullable: true
        hotelMinutes:
          type:
            - integer
          nullable: true
        hotelBreakfastYesNoDiv:
          type:
            - integer
          nullable: true
        hotelBreakfastYesNoDivName:
          type:
            - string
          nullable: true
        hotelDinnerYesNoDiv:
          type:
            - integer
          nullable: true
        hotelDinnerYesNoDivName:
          type:
            - string
          nullable: true
        hotelCost:
          type:
            - integer
          nullable: true
        hotel:
          $ref: '#/components/schemas/Hotel'
        routeId:
          type: integer
        hotelCheckInTimeHours:
          type: string
        hotelCheckInTimeMinutes:
          type: string
        hotelCheckOutTimeHours:
          type: string
        hotelCheckOutTimeMinutes:
          type: string
      required:
        - routeDetailId
        - hotelId
    RouteDetailActivity:
      title: RouteDetailActivity
      type: object
      properties:
        routeDetailId:
          type: integer
        activityId:
          type: integer
        activityRate:
          type:
            - integer
          nullable: true
        activityMinutes:
          type:
            - integer
          nullable: true
        activityCost:
          type:
            - integer
          nullable: true
        activity:
          $ref: '#/components/schemas/Activity'
        routeId:
          type: integer
      required:
        - routeDetailId
        - activityId
    RouteDetailMeal:
      title: RouteDetailMeal
      type: object
      properties:
        routeDetailId:
          type: integer
        mealMinutes:
          type:
            - integer
            - 'null'
        mealKindDiv:
          type:
            - integer
            - 'null'
        mealKindDivName:
          type:
            - string
            - 'null'
        mealCost:
          type: integer
        routeId:
          type: integer
      required:
        - routeDetailId
    RouteDetailMove:
      title: RouteDetailMove
      type: object
      properties:
        routeDetailId:
          type: integer
        moveMinutes:
          type:
            - integer
            - 'null'
        moveWayDiv:
          type:
            - integer
            - 'null'
        moveWayDivName:
          type:
            - string
            - 'null'
        moveCost:
          type:
            - integer
            - 'null'
        routeId:
          type: integer
      required:
        - routeDetailId
    RouteDetailTime:
      title: RouteDetailTime
      type: object
      properties:
        routeDetailId:
          type: integer
        scheduleDateTime:
          type: string
        routeId:
          type: integer
      required:
        - routeDetailId
        - scheduleDateTime
    RouteDetailChecklist:
      title: RouteDetailChecklist
      type: object
      properties:
        routeDetailId:
          type: integer
        checkStatus:
          type: integer
        checkContent:
          type: string
        routeId:
          type: integer
      required:
        - routeDetailId
        - checkStatus
        - checkContent
    RouteDetailMemo:
      title: RouteDetailMemo
      type: object
      properties:
        routeDetailId:
          type: integer
        memoContent:
          type: string
        routeId:
          type: integer
      required:
        - routeDetailId
        - memoContent
    Restaurant:
      title: Restaurant
      type: object
      properties:
        restaurantId:
          type: integer
        restaurantName:
          type: string
        cuisineGenreDiv:
          type:
            - integer
          nullable: true
        restaurantKindDiv:
          type:
            - integer
          nullable: true
        restaurantSummary:
          type:
            - string
          nullable: true
        restaurantAddress:
          type:
            - string
          nullable: true
        restaurantUrl:
          type:
            - string
          nullable: true
        cuisineGenreDivName:
          type:
            - string
          nullable: true
        restaurantKindDivName:
          type:
            - string
          nullable: true
        restaurantOpenTimeHours:
          type: string
        restaurantOpenTimeMinutes:
          type: string
        restaurantCloseTimeHours:
          type: string
        restaurantCloseTimeMinutes:
          type: string
      required:
        - restaurantId
        - restaurantName
    Hotel:
      title: Hotel
      type: object
      properties:
        hotelId:
          type: integer
        hotelName:
          type: string
        hotelKindDiv:
          type:
            - integer
            - 'null'
        hotelKindDivName:
          type:
            - string
            - 'null'
        hotelSummary:
          type:
            - string
            - 'null'
        hotelAddress:
          type:
            - string
            - 'null'
        hotelUrl:
          type:
            - string
            - 'null'
      required:
        - hotelId
        - hotelName
    Activity:
      title: Activity
      type: object
      properties:
        activityId:
          type: integer
        activityName:
          type: string
        activitySummary:
          type:
            - string
          nullable: true
        activityAddress:
          type:
            - string
          nullable: true
        activityUrl:
          type:
            - string
          nullable: true
        activityOpenTimeHours:
          type: string
        activityOpenTimeMinutes:
          type: string
        activityCloseTimeHours:
          type: string
        activityCloseTimeMinutes:
          type: string
        activityImages:
          type: array
          items:
            $ref: '#/components/schemas/ActivityImage'
        uploadFiles:
          type: array
          description: ファイルの配列
          items: {}
      required:
        - activityId
        - activityName
      x-examples:
        example-1:
          activityId: 0
          activityName: string
          activitySummary: string
          activityAddress: string
          activityUrl: string
          activityOpenTimeHours: string
          activityOpenTimeMinutes: string
          activityCloseTimeHours: string
          activityCloseTimeMinutes: string
          activityImages:
            - activityImageId: 0
              activityId: 0
              url: string
          uploadFiles:
            - null
    Route:
      title: Route
      type: object
      properties:
        routeId:
          type: integer
        routeName:
          type:
            - string
            - 'null'
        routeDetails:
          type: array
          items:
            $ref: '#/components/schemas/RouteDetail'
    Code:
      title: Code
      type: object
      properties:
        division:
          type: string
        divKey:
          type: string
        divName:
          type: string
        divKeyName:
          type: string
        divValue:
          type: integer
    ActivityImage:
      title: ActivityImage
      type: object
      properties:
        activityImageId:
          type: integer
        activityId:
          type: integer
        activityImageUrl:
          type: string
    TourismImage:
      title: TourismImage
      type: object
      properties:
        tourismId:
          type: integer
        tourismImageId:
          type: integer
        tourismImageUrl:
          type: string
  responses: {}
