openapi: 3.0.0
info:
  title: spot-share
  version: '1.0'
servers:
  - url: 'http://spot-share.nolit.net'
  - url: 'http://localhost'
    description: ''
paths:
  /routes:
    get:
      summary: ルートの取得
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SimpleRoute'
      operationId: get-routes
      description: ルートの取得
    post:
      summary: ルートの新規作成
      operationId: post-routes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Route'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Route'
        description: ''
      parameters: []
      description: ルートの新規作成
  '/routes/{routeId}':
    parameters:
      - schema:
          type: string
        name: routeId
        in: path
        required: true
    get:
      summary: 特定ルートの取得
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Route'
      operationId: get-routes-id
      description: 特定ルートの取得
    delete:
      summary: 特定ルートの削除
      operationId: delete-routes-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
      description: 特定ルートの削除
    patch:
      summary: 特定ルートの更新
      operationId: patch-routes-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Route'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Route'
      description: 特定ルートの更新
  /countries:
    get:
      summary: 国マスタの取得
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Country'
              examples: {}
      operationId: get-countries
      description: 国マスタの取得
  /restaurants:
    get:
      summary: レストランマスタの取得
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Restaurant'
      operationId: get-restaurants
      description: レストランマスタの取得
  /hotels:
    get:
      summary: ホテルマスタの取得
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Hotel'
      operationId: get-hotels
      description: ホテルマスタの取得
  /tourisms:
    get:
      summary: ツーリズムマスタの取得
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tourism'
      operationId: get-tourisms
      description: ツーリズムマスタの取得
  /activities:
    get:
      summary: アクティビティマスタの取得
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Activity'
      operationId: get-activities
      description: アクティビティマスタの取得
  /codes:
    get:
      summary: コードマスタの取得
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Code'
      operationId: get-codes
      description: コードマスタの取得
components:
  schemas:
    SimpleRoute:
      title: RouteResponse
      type: object
      x-examples:
        スイス:
          routeId: 1
          routeName: スイス鉄道周遊ルート
      properties:
        routeId:
          type: integer
        routeName:
          type:
            - string
            - 'null'
      required:
        - routeId
    Country:
      title: Country
      type: object
      x-examples:
        日本:
          - countryCode: JPN
            countryName: 日本
            timezone: '+09:00'
            currencies:
              - countryCurrencyId: 126
                currencyCode: JPY
                currencySymbol: ¥
      properties:
        countryCode:
          type: string
        countryName:
          type: string
        timezone:
          type:
            - string
            - 'null'
        currencies:
          type: array
          items:
            type: object
            properties:
              countryCurrencyId:
                type: integer
              currencyCode:
                type:
                  - string
                  - 'null'
              currencySymbol:
                type:
                  - string
                  - 'null'
      required:
        - countryCode
        - countryName
    RouteDetail:
      title: RouteDetail
      type: object
      properties:
        beanKindDiv:
          type: integer
        order:
          type:
            - integer
            - 'null'
        routeDetailTourism:
          $ref: '#/components/schemas/RouteDetailTourism'
        routeDetailRestaurant:
          $ref: '#/components/schemas/RouteDetailRestaurant'
        routeDetailHotel:
          $ref: '#/components/schemas/RouteDetailHotel'
        routeDetailActivity:
          $ref: '#/components/schemas/RouteDetailActivity'
        routeDetailMeal:
          $ref: '#/components/schemas/RouteDetailMeal'
        routeDetailMove:
          $ref: '#/components/schemas/RouteDetailMove'
        routeDetailTime:
          $ref: '#/components/schemas/RouteDetailTime'
        routeDetailChecklist:
          $ref: '#/components/schemas/RouteDetailChecklist'
        routeDetailMemo:
          $ref: '#/components/schemas/RouteDetailMemo'
        routeDetailId:
          type: integer
      required:
        - beanKindDiv
        - order
    RouteDetailTourism:
      title: RouteDetailTourism
      type: object
      properties:
        routeDetailId:
          type: integer
        tourismId:
          type: integer
        tourismRate:
          type:
            - integer
            - 'null'
        tourismMinutes:
          type:
            - integer
            - 'null'
        tourismCost:
          type:
            - integer
            - 'null'
        tourism:
          $ref: '#/components/schemas/Tourism'
      required:
        - routeDetailId
    Tourism:
      title: Tourism
      type: object
      properties:
        tourismId:
          type: integer
        tourismName:
          type: string
        country:
          $ref: '#/components/schemas/Country'
        tourismOpenTime:
          type:
            - string
            - 'null'
        tourismCloseTime:
          type:
            - string
            - 'null'
        tourismSummary:
          type:
            - string
            - 'null'
        tourismAddress:
          type:
            - string
            - 'null'
        tourismUrl:
          type:
            - string
            - 'null'
      required:
        - tourismId
        - tourismName
    RouteDetailRestaurant:
      title: RouteDetailRestaurant
      type: object
      properties:
        routeDetailId:
          type: integer
        restaurantId:
          type: integer
        restaurantMealKindDiv:
          type:
            - integer
            - 'null'
        restaurantMealKindDivName:
          type:
            - string
            - 'null'
        restaurantRate:
          type:
            - integer
            - 'null'
        restaurantMinutes:
          type:
            - integer
            - 'null'
        restaurantStartTime:
          type:
            - string
            - 'null'
        restaurantEndTime:
          type:
            - string
            - 'null'
        restaurantCost:
          type:
            - integer
            - 'null'
        restaurant:
          $ref: '#/components/schemas/Restaurant'
      required:
        - routeDetailId
        - restaurantId
    RouteDetailHotel:
      title: RouteDetailHotel
      type: object
      properties:
        routeDetailId:
          type: integer
        hotelId:
          type: integer
        hotelRate:
          type:
            - integer
            - 'null'
        hotelMinutes:
          type:
            - integer
            - 'null'
        hotelCheckInTime:
          type:
            - string
            - 'null'
        hotelCheckOutTime:
          type:
            - string
            - 'null'
        hotelBreakfastYesNoDiv:
          type:
            - integer
            - 'null'
        hotelBreakfastYesNoDivName:
          type:
            - string
            - 'null'
        hotelDinnerYesNoDiv:
          type:
            - integer
            - 'null'
        hotelDinnerYesNoDivName:
          type:
            - string
            - 'null'
        hotelCost:
          type:
            - integer
            - 'null'
        hotel:
          $ref: '#/components/schemas/Hotel'
      required:
        - routeDetailId
        - hotelId
    RouteDetailActivity:
      title: RouteDetailActivity
      type: object
      properties:
        routeDetailId:
          type: integer
        activityId:
          type: integer
        activityRate:
          type:
            - integer
            - 'null'
        activityMinutes:
          type:
            - integer
            - 'null'
        activityStartTime:
          type:
            - string
            - 'null'
        activityEndTime:
          type:
            - string
            - 'null'
        activityCost:
          type:
            - integer
            - 'null'
        activity:
          $ref: '#/components/schemas/Activity'
      required:
        - routeDetailId
        - activityId
    RouteDetailMeal:
      title: RouteDetailMeal
      type: object
      properties:
        routeDetailId:
          type: integer
        mealMinutes:
          type:
            - integer
            - 'null'
        mealKindDiv:
          type:
            - integer
            - 'null'
        mealKindDivName:
          type:
            - string
            - 'null'
        mealCost:
          type: integer
      required:
        - routeDetailId
    RouteDetailMove:
      title: RouteDetailMove
      type: object
      properties:
        routeDetailId:
          type: integer
        moveMinutes:
          type:
            - integer
            - 'null'
        moveKindDiv:
          type:
            - integer
            - 'null'
        moveKindDivName:
          type:
            - string
            - 'null'
        moveCost:
          type:
            - integer
            - 'null'
      required:
        - routeDetailId
    RouteDetailTime:
      title: RouteDetailTime
      type: object
      properties:
        routeDetailId:
          type: integer
        scheduleDateTime:
          type: string
      required:
        - routeDetailId
        - scheduleDateTime
    RouteDetailChecklist:
      title: RouteDetailChecklist
      type: object
      properties:
        routeDetailId:
          type: integer
        checkStatus:
          type: string
        checkContent:
          type: string
      required:
        - routeDetailId
        - checkStatus
        - checkContent
    RouteDetailMemo:
      title: RouteDetailMemo
      type: object
      properties:
        routeDetailId:
          type: integer
        memoContent:
          type: string
      required:
        - routeDetailId
        - memoContent
    Restaurant:
      title: Restaurant
      type: object
      properties:
        restaurantId:
          type: integer
        restaurantName:
          type: string
        cuisineGenreDiv:
          type:
            - integer
            - 'null'
        restaurantKindDiv:
          type:
            - integer
            - 'null'
        restaurantOpenTime:
          type:
            - string
            - 'null'
        restaurantCloseTime:
          type:
            - string
            - 'null'
        restaurantSummary:
          type:
            - string
            - 'null'
        restaurantAddress:
          type:
            - string
            - 'null'
        restaurantUrl:
          type:
            - string
            - 'null'
        cuisineGenreDivName:
          type:
            - string
            - 'null'
        restaurantKindDivName:
          type:
            - string
            - 'null'
      required:
        - restaurantId
        - restaurantName
    Hotel:
      title: Hotel
      type: object
      properties:
        hotelId:
          type: string
        hotelName:
          type: string
        hotelKindDiv:
          type:
            - string
            - 'null'
        hotelKindDivName:
          type:
            - string
            - 'null'
        hotelSummary:
          type:
            - string
            - 'null'
        hotelAddress:
          type:
            - string
            - 'null'
        hotelUrl:
          type:
            - string
            - 'null'
      required:
        - hotelId
        - hotelName
    Activity:
      title: Activity
      type: object
      properties:
        activityId:
          type: integer
        activityName:
          type: string
        activityOpenTime:
          type:
            - string
            - 'null'
        activityCloseTime:
          type:
            - string
            - 'null'
        activitySummary:
          type:
            - string
            - 'null'
        activityAddress:
          type:
            - string
            - 'null'
        activityUrl:
          type:
            - string
            - 'null'
      required:
        - activityId
        - activityName
    Route:
      title: Route
      type: object
      properties:
        routeId:
          type: integer
        routeName:
          type:
            - string
            - 'null'
        routeDetails:
          type: array
          items:
            $ref: '#/components/schemas/RouteDetail'
    Code:
      title: Code
      type: object
      properties:
        division:
          type: string
        divKey:
          type: string
        divName:
          type: string
        divKeyName:
          type: string
        divValue:
          type: integer
  responses: {}
