<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>スポット登録</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta name="description" content="">
  <meta name="keywords" content="">
</head>

<body>
  <div class="container-fulid m-content">
    <div class="panel panel-default">
      <div class="panel-header">
        <button type="button" (click)="onClickBack()" class="btn btn-outline-info back-button">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="ml-3 text-info">スポットを追加</span>
      </div>
      <form id="add-spot-item" class="panel-body" [formGroup]="addSpotFormGroup">
        <div class="panel-item">
          <div class="panel-item-title">画像</div>
          <div class="panel-item-input">
            <div class="drop-zone">
              <img #thumbnail class="thumbnail" src="">
              <div class="cursor-pointer">画像をドラッグ＆ドロップ</div>
              <div class="cursor-pointer">または</div>
              <input type="file" class="cursor-pointer" (drop)="onDrop($event)"> 
            </div>
            <div class="image-info">
              <span>
                {{imageTitle}}
                <button class="btn btn-outline-secondary" *ngIf="imageTitle" (click)="onClickDeleteImage()">
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </span>
            </div>
            <hr>
          </div>
        </div>
        <div class="panel-item">
          <div class="panel-item-title">スポット名称</div>
          <div class="panel-item-input">
            <input formControlName="spotName">
          </div>
        </div>
        <div class="panel-item">
          <div class="panel-item-title">国</div>
          <div class="panel-item-input">
            <input formControlName="country">
          </div>
        </div>
        <div class="panel-item">
          <div class="panel-item-title">費用（予算）</div>
          <div class="panel-item-input">
            <input formControlName="costExpectation">
          </div>
        </div>
        <div class="panel-item">
          <div class="panel-item-title">所要時間（予想）</div>
          <div class="panel-item-input d-flex">
            <input formControlName="requiredHours">
            <input formControlName="requiredMinutes">
          </div>
        </div>
        <div class="panel-item">
          <div class="panel-item-title">URL</div>
          <div class="panel-item-input">
            <input formControlName="url">
          </div>
        </div>
        <div class="panel-item">
          <div class="panel-item-title">メモ</div>
          <div class="panel-item-input">
            <textarea formControlName="memo"></textarea>
          </div>
        </div>
      </form>
      <div class="panel-footer">
        <button type="button" (click)="onClickSave()" class="btn btn-outline-primary">
          <span>保存</span>
        </button>
      </div>
    </div>
  </div>
</body>

</html>