.list-bean-checklist {
  width: 95%;
  margin-left: auto;
  margin-top: 5px;
}

.checkbox {
  color: limegreen;
  font-size: 16px;
  font-weight: 700;
  padding: 3px;  
  cursor: default;
  border: solid 1px #ced4da;
  border-radius: 4px;
}

.checkbox:hover {
  border: solid 1px green;
}

.close {
  font-size: 15px;
  cursor: default;
  margin: 0 5px;
}

.bean {
  display: flex;
  align-items: center;

  .checklist-content-input {
    width: 100%;
    margin-left: 10px;
    margin-right: 5px;
  }

  button {
    text-align: right;
  }
}
