.title-area {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;

  &-right {
    display: flex;
    margin-left: auto;

    button {
      height: 30px;
      padding: 0 20px;
      
      .add-tourism-button {
        display: flex;
        align-items: center;
      }
    }
  }

  .back-button {
    border-radius: 2rem;
    height: 1.9rem;
    padding: 0.3rem 0.15rem;
    .material-icons {
      font-size: 1.3rem;
    }
  }

}

ag-grid-angular {
  height: calc(100% - 100px);
}