<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>スポット一覧</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta name="description" content="">
  <meta name="keywords" content="">
</head>

<body>
  <div class="container-fulid m-content">
    <div class="search-area">
      <input type="text" [formControl]="searchKeyword">
      <button type="button" (click)="onClickSearch()" class="btn btn-outline-info d-flex">
        <mat-icon>search</mat-icon>
        <span>Search</span>
      </button>
    </div>
    <ag-grid-angular 
      class="ag-theme-alpine spot-grid"
      [rowData]="spotList"
      [columnDefs]="columnDefs"
      [gridOptions]="gridOptions"
    ></ag-grid-angular>
    <button type="button" (click)="onClickAddSpot()" class="btn btn-outline-primary add-spot-button">
      <span>スポット追加</span>
    </button>
  </div>
</body>

</html>