<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>スポット一覧</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta name="description" content="">
  <meta name="keywords" content="">
</head>

<body>
  <div class="container-fulid m-content">
    <div class="title-area">
      <span class="page-title">スポット一覧</span>
      <div class="title-area-right">
        <button type="button" (click)="onClickAddTourism()" class="btn btn-outline-primary ml-2">
            <div class="add-tourism-button">
              <mat-icon>add_circle_outline</mat-icon>
              <span class="ml-2">観光地</span>
            </div>
        </button>
        <button type="button" (click)="onClickAddRestaurant()" class="btn btn-outline-primary ml-2">
            <div class="add-tourism-button">
              <mat-icon>add_circle_outline</mat-icon>
              <span class="ml-2">飲食店</span>
            </div>
        </button>
        <button type="button" (click)="onClickAddHotel()" class="btn btn-outline-primary ml-2">
            <div class="add-tourism-button">
              <mat-icon>add_circle_outline</mat-icon>
              <span class="ml-2">ホテル</span>
            </div>
        </button>
        <button type="button" (click)="onClickAddActivity()" class="btn btn-outline-primary ml-2">
            <div class="add-tourism-button">
              <mat-icon>add_circle_outline</mat-icon>
              <span class="ml-2">アクティビティ</span>
            </div>
        </button>
      </div>
    </div>
    <ag-grid-angular
      class="ag-theme-alpine"
      [rowData]="spotList"
      [columnDefs]="columnDefs"
      [gridOptions]="gridOptions"
    ></ag-grid-angular>
    <button type="button" (click)="onClickCreateRoute()" class="btn btn-outline-primary footer-button">
      <span>ルートに追加</span>
    </button>
  </div>
</body>

</html>