.search-area {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  input {
    width: 100%;
    max-width: 700px;
  }

  button {
    height: 30px;
    padding: 2px 10px;
    margin-left: 5px;
  }
}

.add-spot-button {
  margin-top: 10px;
  width: 100%;
}

ag-grid-angular {
  height: calc(100% - 80px);
}