<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>飲食店登録</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta name="description" content="">
  <meta name="keywords" content="">
</head>

<body>
  <div class="container-fulid m-content">
    <div id="main-content" class="panel panel-default">
      <div class="panel-header">
        <button type="button" (click)="onClickBack()" class="btn btn-outline-info back-button">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="title">飲食店を追加</span>
      </div>
      <form class="panel-body" [formGroup]="addRestaurantFormGroup">
        <div class="panel-item">
          <app-spot-image-input class="w-100"
            [images]="restaurant.restaurantImages"
            (updateCarouselInfosEvent)="onUpdateCarouselInfosEvent($event)"
          >
          </app-spot-image-input>
        </div>
        <hr>
        <div class="panel-item">
          <div class="panel-item-title">スポット名称</div>
          <div class="panel-item-input">
            <div class="w-100">
              <div *ngIf="this.addRestaurantFormGroup.controls.restaurantName.invalid && this.addRestaurantFormGroup.controls.restaurantName.dirty" class="validator-error">
                未入力です
              </div>
              <input class="form-control" formControlName="restaurantName" placeholder="必須">
            </div>
          </div>
        </div>
        <div class="panel-item">
          <div class="panel-item-title">概要</div>
          <div class="panel-item-input">
            <textarea class="form-control" formControlName="restaurantSummary"></textarea>
          </div>
        </div>
        <div class="panel-item">
          <div class="panel-item-title">種類</div>
          <div class="panel-item-input">
            <select class="form-control" formControlName="restaurantKindDiv">
              <option *ngFor="let item of RestaurantKindDivList" value={{item.div}}>{{item.name}}</option>
            </select>
          </div>
        </div>
        <div class="panel-item">
          <div class="panel-item-title">料理ジャンル</div>
          <div class="panel-item-input">
            <select class="form-control" formControlName="cuisineGenreDiv">
              <option *ngFor="let item of CuisineGenreDivList" value={{item.div}}>{{item.name}}</option>
            </select>
          </div>
        </div>
        <div class="panel-item">
          <div class="panel-item-title">営業開始時間</div>
          <div class="panel-item-input">
            <input class="form-control time-picker" formControlName="restaurantOpenTimeHours" (change)="onChangeOpenHours($event.target.value)">
            <span class="spacer">時</span>
            <input class="form-control time-picker" formControlName="restaurantOpenTimeMinutes" (change)="onChangeOpenMinutes($event.target.value)">
            <span class="spacer">分</span>
          </div>
        </div>
        <div class="panel-item">
          <div class="panel-item-title">営業終了時間</div>
          <div class="panel-item-input">
            <input class="form-control time-picker" formControlName="restaurantCloseTimeHours" (change)="onChangeCloseHours($event.target.value)">
            <span class="spacer">時</span>
            <input class="form-control time-picker" formControlName="restaurantCloseTimeMinutes" (change)="onChangeCloseMinutes($event.target.value)">
            <span class="spacer">分</span>
          </div>
        </div>
        <div class="panel-item">
          <div class="panel-item-title">住所</div>
          <div class="panel-item-input">
            <input class="form-control" formControlName="restaurantAddress">
          </div>
        </div>
        <div class="panel-item">
          <div class="panel-item-title">URL</div>
          <div class="panel-item-input">
            <input class="form-control" formControlName="restaurantUrl">
          </div>
        </div>
        <div class="panel-item mt-5" *ngIf="editMode !== EditMode.routeCreate">
          <div class="panel-item-title">連続で作成する</div>
          <div class="panel-item-input">
            <mat-slide-toggle [color]="'primary'" [(ngModel)]="continueCreateFlg" [ngModelOptions]="{standalone: true}"></mat-slide-toggle>
          </div>
        </div>
      </form>
      <div class="panel-footer">
        <button type="button" class="btn btn-primary" (click)="onClickSave()">
          <span>保存</span>
        </button>
      </div>
    </div>
  </div>
</body>

</html>