.list-bean-move {
  width: 95%;
  margin-left: auto;
  margin-top: 5px;
}

.more-vert {
  margin: 5px 0;
}

.bean {
  display: flex;
  align-items: center;

  .move-kind-icon {
    display: flex;
    margin-left: 15px;
    color: navy;
  }

  select {
    width: auto;
    margin-left: 10px;
  }

  .move-minutes-input {
    width: 60px;
    text-align: right;
  }

  .move-cost-input {
    width: 100px;
    text-align: right;
  }
}