<div class="list-bean-move">
  <span class="material-icons more-vert">more_vert</span>
  <form [formGroup]="routeDetailMoveFormGroup">
    <div class="bean panel">
      <input class="form-control move-minutes-input" formControlName="moveMinutes">
      <span class="spacer">分</span>
      <div class="move-kind-icon"[ngSwitch]="routeDetailMoveFormGroup.value.moveWayDiv">
        <mat-icon *ngSwitchCase="MoveWayDivList[0].MoveWayDiv">directions_walk</mat-icon>
        <mat-icon *ngSwitchCase="MoveWayDivList[1].MoveWayDiv">pedal_bike</mat-icon>
        <mat-icon *ngSwitchCase="MoveWayDivList[2].MoveWayDiv">two_wheeler</mat-icon>
        <mat-icon *ngSwitchCase="MoveWayDivList[3].MoveWayDiv">directions_car</mat-icon>
        <mat-icon *ngSwitchCase="MoveWayDivList[4].MoveWayDiv">local_taxi</mat-icon>
        <mat-icon *ngSwitchCase="MoveWayDivList[5].MoveWayDiv">directions_bus</mat-icon>
        <mat-icon *ngSwitchCase="MoveWayDivList[6].MoveWayDiv">train</mat-icon>
        <mat-icon *ngSwitchCase="MoveWayDivList[7].MoveWayDiv">directions_transit</mat-icon>
        <mat-icon *ngSwitchCase="MoveWayDivList[8].MoveWayDiv">directions_railway</mat-icon>
        <mat-icon *ngSwitchCase="MoveWayDivList[9].MoveWayDiv">flight</mat-icon>
        <mat-icon *ngSwitchCase="MoveWayDivList[10].MoveWayDiv">directions_boat</mat-icon>
        <mat-icon *ngSwitchCase="MoveWayDivList[11].MoveWayDiv">directions_boat</mat-icon>
        <mat-icon *ngSwitchCase="MoveWayDivList[12].MoveWayDiv">navigation</mat-icon>
      </div>
      <select class="form-control" formControlName="moveWayDiv">
        <option *ngFor="let item of MoveWayDivList" value={{item.moveWayDiv}}>{{item.moveWayDivName}}</option>
      </select>
      <input class="form-control ml-auto move-cost-input" formControlName="moveCost">
      <span class="spacer">円</span>
      <span class="material-icons close" (click)="onClickDeleteButton()">close</span>
    </div>
  </form>
  <span class="material-icons more-vert">more_vert</span>
</div>