<div class="list-bean panel">
  <div class="thumbnail-area">
    <!-- TODO サムネイル -->
    <img class="thumbnail" src="./favicon.ico">
  </div>
  <div class="w-100">
    <div class="bean-title">
      <mat-icon class="bean-icon">location_on</mat-icon>
      <!-- TODO idとbeanDivを渡す-->
      <a href="add-tourism-page;tourismId={{detail.tourismId}}" target="_blank">{{detail.tourism.tourismName}}</a>
      <span class="material-icons close" (click)="onClickDeleteButton()">close</span>
    </div>

    <div class="div-border-line"></div>
   
    <div class="bean-info">

      <!-- ******** bean left ******** -->
      <div class="bean-info-left">
        <div>
          <span class="bean-info-label">(所要)</span>
          <span>{{detail.tourismMinutes}}</span>
          <span *ngIf="detail.tourismMinutes" class="bean-info-label">時間</span>
        </div>
      </div>

      <!-- ******** bean center ******** -->
      <div class="bean-info-center">
      </div>

      <!-- ******** bean right ******** -->
      <div class="bean-info-right">
        <ngb-rating
          [rate]="detail.tourismRate"
          [max]="5"
        ></ngb-rating>
        <div>
          <span class="bean-info-label">観光費用</span>
          <span>：</span>
          <span>{{detail.tourismCost}}</span>
          <span class="spacer">円</span>
        </div>
      </div>
    </div>
  </div>
</div>