<div class="drag-container">
  <ng-content></ng-content>
  <div class="list-bean panel">
    <div class="thumbnail-area">
      <!-- TODO サムネイル -->
      <img class="thumbnail" src="./favicon.ico">
    </div>
    <div class="w-100">
      <div class="bean-title">
        <mat-icon class="bean-icon">location_on</mat-icon>
        <!-- TODO idとbeanDivを渡す-->
        <a href="add-tourism-page;tourismId={{detail.tourismId}}" target="_blank">{{detail.tourism.tourismName}}</a>
        <span class="material-icons close" (click)="onClickDeleteButton()">close</span>
      </div>

      <div class="div-border-line"></div>
    
      <form [formGroup]="routeDetailTourismFormGroup">
        <div class="bean-info">

          <!-- ******** bean left ******** -->
          <div class="bean-info-left">
            <div class="bean-info-item">
              <span class="bean-info-label">(所要)</span>
              <input class="form-control text-right" formControlName="tourismMinutes">
              <span *ngIf="detail.tourismMinutes" class="bean-info-label spacer">分</span>
            </div>
          </div>

          <!-- ******** bean center ******** -->
          <div class="bean-info-center">
          </div>

          <!-- ******** bean right ******** -->
          <div class="bean-info-right">
            <!-- TODO レートの更新できてるか？ -->
            <ngb-rating
              [rate]="detail.tourismRate"
              [max]="5"
            ></ngb-rating>
            <div class="bean-info-item">
              <span class="bean-info-label cost-label">費用</span>
              <span>：</span>
              <input class="form-control text-right" formControlName="tourismCost">
              <span class="spacer">円</span>
            </div>
          </div>

          <!-- ドラッグインジケータ -->
          <mat-icon class="bean-icon drag-handle-icon">drag_indicator</mat-icon>

        </div>
      </form>
    </div>
  </div>
</div>
