<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>ルート作成</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta name="description" content="">
  <meta name="keywords" content="">
</head>

<body>
  <div class="container-fulid route-page">
    
    <div class="route-title-area">
      <input *ngIf="editRouteName" class="form-control" type="text" #routeNameInput
        [formControl]="routeName"
        (blur)="onBlurRouteName(event)"
      >
      <span *ngIf="!editRouteName" class="route-title">{{route.routeName}}</span>
      <mat-icon *ngIf="!editRouteName" class="title-edit-btn" (click)="onClickRouteNameEditButton()">edit</mat-icon>
    </div>

    <!-- TODO Google Map Api 実装
    <div class="maps">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.747975468369!2d139.74324421568767!3d35.65858048019959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bbd9009ec09%3A0x481a93f0d2a409dd!2z5p2x5Lqs44K_44Ov44O8!5e0!3m2!1sja!2sjp!4v1599501073361!5m2!1sja!2sjp" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    -->

    <!-- TODO １日目、２日目、、、のタブをいつか実装する
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="リスト">
      </mat-tab>
        <mat-tab label="観光地">
        </mat-tab>
      </mat-tab-group>-->

    <div class="start-date-bean panel">
      9/20 ,2020AM 7:00
    </div>

    <div class="no-route" *ngIf="routeDetails.length === 0">
      <span>スポットが一つも登録されていません。</span>
    </div>
    <div cdkDropListGroup *ngIf="routeDetails.length > 0">
      <div cdkDropList
        [cdkDropListData]="routeDetails"
        (cdkDropListDropped)="onDropList($event)">
        <div class="list-bean" cdkDrag *ngFor="let detail of routeDetails">
          
          <!-- 観光地（マスタ有り） -->
          <app-route-detail-tourism-bean *ngIf="detail.beanKindDiv === beanKindDiv.Tourism"
            [detail]="detail.routeDetailTourism"
            (updateRouteDetailTourismEvent)="onUpdateRouteDetailEvent($event)"
            (deleteRouteDetailTourismEvent)="onDeleteRouteDetailEvent($event)"
          >
          </app-route-detail-tourism-bean>

          <!-- 飲食店（マスタ有り） -->
          <app-route-detail-restaurant-bean *ngIf="detail.beanKindDiv === beanKindDiv.Restaurant"
            [detail]="detail.routeDetailRestaurant"
            (updateRouteDetailRestaurantEvent)="onUpdateRouteDetailEvent($event)"
            (deleteRouteDetailRestaurantEvent)="onDeleteRouteDetailEvent($event)"
          >
          </app-route-detail-restaurant-bean>

          <!-- ホテル（マスタ有り） -->
          <app-route-detail-hotel-bean *ngIf="detail.beanKindDiv === beanKindDiv.Hotel"
            [detail]="detail.routeDetailHotel"
            (updateRouteDetailHotelEvent)="onUpdateRouteDetailEvent($event)"
            (deleteRouteDetailHotelEvent)="onDeleteRouteDetailEvent($event)"
          >
          </app-route-detail-hotel-bean>

          <!-- アクティビティ（マスタ有り） -->
          <app-route-detail-activity-bean *ngIf="detail.beanKindDiv === beanKindDiv.Activity"
            [detail]="detail.routeDetailActivity"
            (updateRouteDetailActivityEvent)="onUpdateRouteDetailEvent($event)"
            (deleteRouteDetailActivityEvent)="onDeleteRouteDetailEvent($event)"
          >
          </app-route-detail-activity-bean>

          <!-- 食事 -->
          <app-route-detail-meal-bean *ngIf="detail.beanKindDiv === beanKindDiv.Meal"
            [detail]="detail.routeDetailMeal"
            (updateRouteDetailMealEvent)="onUpdateRouteDetailEvent($event)"
            (deleteRouteDetailMealEvent)="onDeleteRouteDetailEvent($event)"
          >
          </app-route-detail-meal-bean>

          <!-- 移動 -->
          <app-route-detail-move-bean *ngIf="detail.beanKindDiv === beanKindDiv.Move"
            [detail]="detail.routeDetailMove"
            (updateRouteDetailMoveEvent)="onUpdateRouteDetailEvent($event)"
            (deleteRouteDetailMoveEvent)="onDeleteRouteDetailEvent($event)"
          >
          </app-route-detail-move-bean>

          <!-- チェックリスト -->
          <app-route-detail-checklist-bean *ngIf="detail.beanKindDiv === beanKindDiv.Checklist"
            [detail]="detail.routeDetailChecklist"
            (updateRouteDetailChecklistEvent)="onUpdateRouteDetailEvent($event)"
            (deleteRouteDetailChecklistEvent)="onDeleteRouteDetailEvent($event)"
          >          
          </app-route-detail-checklist-bean>

          <!-- メモ -->
          <app-route-detail-memo-bean *ngIf="detail.beanKindDiv === beanKindDiv.Memo"
            [detail]="detail.routeDetailMemo"
            (updateRouteDetailMemoEvent)="onUpdateRouteDetailEvent($event)"
            (deleteRouteDetailMemoEvent)="onDeleteRouteDetailEvent($event)"
          >
          </app-route-detail-memo-bean>
          
          <!-- TODO 時間-->


        </div>
      </div>
    </div>
    <hr>
    <div class="route-footer">
      <div class="option-item-area">
        <strong>ルートに追加</strong>
        <div class="option-items">
          <!-- スポット追加 -->
          <div class="icon-btn">
            <mat-icon class="add-btn-tourism" placement="top" ngbTooltip="観光地/スポット" (click)="onClickAddTourismButon()">add_location_alt</mat-icon>
          </div>
          <!-- 移動手段追加 -->
          <div class="icon-btn">
            <mat-icon class="add-btn-move" placement="top" ngbTooltip="移動手段/時間" (click)="onClickAddMoveButon()">directions_walk</mat-icon>
          </div>
          <!-- 食事追加 -->
          <div class="icon-btn">
            <mat-icon class="add-btn-meal" placement="top" ngbTooltip="食事/グルメ" (click)="onClickAddMealButon()">restaurant</mat-icon>
          </div>
          <!-- チェックリスト -->
          <div class="icon-btn">
            <mat-icon class="add-btn-checklist" placement="top" ngbTooltip="チェックリスト" (click)="onClickAddChcklistButon()">done</mat-icon>
          </div>
          <!-- メモ -->
          <div class="icon-btn">
            <mat-icon class="add-btn-memo" placement="top" ngbTooltip="メモ" (click)="onClickAddMemoButon()">info</mat-icon>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary save-btn" (click)="onClickSave()">
        <span>保存</span>
      </button>
    </div>

  </div>
</body>

</html>