<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>スポット登録</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta name="description" content="">
  <meta name="keywords" content="">
</head>

<body>
  <div class="container-fulid m-content">
    <div class="maps">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.747975468369!2d139.74324421568767!3d35.65858048019959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bbd9009ec09%3A0x481a93f0d2a409dd!2z5p2x5Lqs44K_44Ov44O8!5e0!3m2!1sja!2sjp!4v1599501073361!5m2!1sja!2sjp" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="tabs">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="リスト">
          <ag-grid-angular 
            class="ag-theme-alpine spot-grid"
            [rowData]="spotList"
            [columnDefs]="columnDefs"
            [gridOptions]="gridOptions"
          ></ag-grid-angular>
        </mat-tab>
        <mat-tab label="スポット">
          <add-spot-page></add-spot-page>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</body>

</html>