$tourism-icon-color: blue;

html, body {
  height: auto;
}

.close {
  font-size: 15px;
  cursor: default;
  margin: 0 5px;
  margin-left: auto;
}

.route-page {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px 0;
}

.icon-btn {
  display: flex;
  align-items: center;
  text-align: center; 
  width: 60px;
  height: 50px;
  padding: 0 12px;
}

.route-title-area {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  .route-title {
    margin-bottom: 5px ;
    font-size: 40px;
    line-height: 1.2;
  }
  .title-edit-btn {
    color: #d3d3d3;
    height: 50px;
    padding: 12px 12px;
    cursor: default;
    &:hover {
      font-size: 27px;
    }
  }
}

.maps {
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
  iframe {
    width: 100%;
  }
}

.start-date-bean {
  text-align: center;
  width: fit-content !important;
  padding: 5px 15px !important;
}

.no-route {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.list-bean {
  .div-border-line {
    margin: 3px 0;
    padding-bottom: 1px;
    border-bottom: dashed 1px #ddd;
  }
}

.route-footer {
  width: 100%;
  margin-top: 20px;

  .option-item-area {
    display: flex;
    align-items: center;
    height: 40px;

    .option-items {
      display: flex;
      align-items: center;
      margin-left: auto;

      mat-icon {
        width: 40px;
        height: 35px;
        font-size: 35px;
        cursor: default;
        &:hover {
          font-size: 40px;
          margin-bottom: 5px;
        }
      }

      .add-btn {
        &-tourism {
          color: $tourism-icon-color;
        }
        &-move {
          color: orange;
        }
        &-meal {
          color: red;
        }
        &-checklist {
          color: limegreen;
        }
        &-memo {
          color: cornflowerblue;
        }
      }
    }
  }
  .save-btn {
    margin-top: 5px;
    width: 100%;
  }
}


/** -------- cdkDragHandle -------- */
// cdkDragHandle が子コンポーネントでは使用できないため、
// 親コンポーネントでDOMを用意し、相対位置でドラッグ可能なエリアを設定
app-route-detail-tourism-bean .cdk-drag-handle,
app-route-detail-restaurant-bean .cdk-drag-handle,
app-route-detail-hotel-bean .cdk-drag-handle,
app-route-detail-activity-bean .cdk-drag-handle {
  width: 2rem;
  height: 4.5rem;
  margin-left: 41.7rem;
  margin-top: 2.5rem;
  position: absolute;
  z-index: 100;
  background-color: transparent;
  cursor: move;
}

app-route-detail-meal-bean .cdk-drag-handle,
app-route-detail-checklist-bean .cdk-drag-handle,
app-route-detail-memo-bean .cdk-drag-handle {
  width: 2rem;
  height: 2.8rem;
  margin-left: 39.3rem;
  position: absolute;
  z-index: 100;
  background-color: transparent;
  cursor: move;
}

app-route-detail-move-bean .cdk-drag-handle {
  width: 2rem;
  height: 2.8rem;
  margin-left: 39.3rem;
  margin-top: 2.1rem;
  position: absolute;
  z-index: 100;
  background-color: transparent;
  cursor: move;
}