.list-bean-meal {
  width: 95%;
  margin-left: auto;
  margin-top: 5px;
}

.bean {
  display: flex;
  align-items: center;

  .meal-kind-icon {
    display: flex;
    margin-left: 15px;
    color: lightgreen;
  }

  select {
    width: auto;
    margin-left: 10px;
  }

  .meal-minutes-input {
    width: 60px;
    text-align: right;
  }

  .meal-cost-input {
    width: 100px;
    text-align: right;
  }
}