<html>
<head>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
test123!!!

<h2>画像アップロード</h2>
<input id="spot-file" name="file" type="file" />


<button onClick="postSpot()">新規作成</button>
<button onClick="patchSpot()">更新</button>
</body>

<script>
    function postSpot() {
        const data = new FormData();
        data.append("file", document.getElementById("spot-file").files[0]);
        data.append("routeNumber", 1);
        data.append("scheduleDateTime", "2020-07-20T16:12:55");
        data.append("country", '日本');
        data.append("spotName", 'スポット名');
        data.append("costExpectation", 1);
        data.append("routeNumber", 200000);
        data.append("requiredTimeExpectation", 120);
        data.append("favoritePoint", 10);
        data.append("url", "http://example.com");
        data.append("remark", "あいうえお\nかきくけこ\n");
        const headers = { "content-type": "multipart/form-data" };
        axios.post('/spots', data, { headers })
        .then(function (response) {
          console.log(response);
        })
        .catch(function (error) {
          console.log(error);
        });
    }

    function patchSpot() {
        const data = new FormData();
        data.append("file", document.getElementById("spot-file").files[0]);
        data.append("routeNumber", 2);
        data.append("scheduleDateTime", "2020-07-21T05:22:44");
        data.append("country", '更新された国');
        data.append("spotName", '更新されたスポット名');
        data.append("costExpectation", 444444);
        data.append("routeNumber", 200000);
        data.append("requiredTimeExpectation", 230);
        data.append("favoritePoint", 5);
        data.append("url", "http://update_example.com");
        data.append("remark", "変更されたremark");
        const headers = { "content-type": "multipart/form-data" };
        axios.patch('/spots/1', data, { headers })
        .then(function (response) {
          console.log(response);
        })
        .catch(function (error) {
          console.log(error);
        });
    }
</script>
</html>