.list-bean-memo {
  width: 95%;
  margin-left: auto;
  margin-top: 5px;
}

.bean {
  display: flex;
  align-items: center;

  .info-icon {
    color: cornflowerblue;
  }

  .memo-kind-icon {
    display: flex;
    margin-left: 15px;
    color: lightgreen;
  }

  .memo-content-input {
    width: 100%;
    margin-left: 10px;
    margin-right: 5px;
  }

  .delete-btn {
    margin-right: 7px;
  }

  button {
    text-align: right;
  }
}