.list-bean-memo {
  width: 95%;
  margin-left: auto;
  margin-top: 5px;
}

.more-vert {
  margin: 5px 0;
}

.close {
  font-size: 15px;
  cursor: default;
  margin: 0 5px;
}

.info {
  color: cornflowerblue;
  cursor: default;
}

.bean {
  display: flex;
  align-items: center;

  .memo-kind-icon {
    display: flex;
    margin-left: 15px;
    color: lightgreen;
  }

  .memo-content-input {
    width: 100%;
    margin-left: 10px;
    margin-right: 5px;
  }

  button {
    text-align: right;
  }
}