html,body {
  width: 100%;
  height: 100%;
  background-color: #F5F5F5;
}

.m-content {
  width: 100%;
  height: 100%;
  padding: 20px;
}

input {
  height: 30px;
  border-width: 1px;
  border-radius: 6px;
}

textarea {
  height: 150px !important;
  border-width: 1px;
  border-radius: 6px;
}

.spacer {
  margin: 0 5px;
  text-align: center;
}

ag-grid-angular {
  height: 100%;
}

.panel {
  width: 100%;
  padding: 10px 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

// -----------------------------------------------------------------------
// validator

.validator-error {
  color: red;
}

input.ng-dirty.ng-invalid {
  border-color: red;
  background-color: pink;
}

// -----------------------------------------------------------------------
// modal

.modal-xxl {
  width: 95% !important;
  max-width: none !important;
  height: 90%;

  .modal-content {
    height: 100%;
  }
  
  .modal-header {
    padding: 0.7rem !important;
    align-items: center;
  
    .modal-title {
      font-size: 1.5rem;
    }
  
  }
  
  .modal-body {
    height: 85%;
    padding: 0 1rem !important;
  }

  .modal-footer {
    padding: 0.5rem;

    button {
      width: 10rem;
      padding: 0.5rem !important;
    }
  }
}

.modal-header {
  padding: 0.7rem !important;
  align-items: center;

  .modal-title {
    font-size: 1.5rem;
  }
}

.modal-body {
  padding: 1rem;
}

.modal-footer {
  padding: 0.5rem;

  button {
    width: 8rem;
  }
}

app-select-add-spot-modal {
  height: 100%;
  ag-grid-angular {
    height: 100% !important;
  }
}

// -----------------------------------------------------------------------
// loading

// モーダルの z-index が 1050
.cdk-overlay-container {
  z-index: 1100;
}