html,body {
  width: 100%;
  height: 100%;
  background-color: #F5F5F5;
  overflow: scroll;
}

.m-content {
  width: 100%;
  height: 100%;
  padding: 20px;
}

input {
  height: 30px;
  border-width: 1px;
  border-radius: 6px;
}

textarea {
  height: 150px !important;
  border-width: 1px;
  border-radius: 6px;
}

.spacer {
  margin: 0 5px;
  text-align: center;
}

ag-grid-angular {
  height: 100%;
}

.panel {
  width: 100%;
  padding: 10px 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

// -----------------------------------------------------------------------
// validator

.validator-error {
  color: red;
}

input.ng-dirty.ng-invalid {
  border-color: red;
  background-color: pink;
}