<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>アクティビティ登録</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta name="description" content="">
  <meta name="keywords" content="">
</head>

<body>
  <div class="container-fulid m-content">
    <div id="main-content" class="panel panel-default">
      <div class="panel-header">
        <button type="button" (click)="onClickBack()" class="btn btn-outline-info back-button">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="title">アクティビティを追加</span>
      </div>
      <form class="panel-body" [formGroup]="addActivityFormGroup">
        <div class="panel-item">
          <app-spot-image-input class="w-100"
            [images]="activity.activityImages"
            (updateCarouselInfosEvent)="onUpdateCarouselInfosEvent($event)"
          >
          </app-spot-image-input>
        </div>
        <hr>
        <div class="panel-item">
          <div class="panel-item-title">スポット名称</div>
          <div class="panel-item-input">
            <div class="w-100">
              <div *ngIf="this.addActivityFormGroup.controls.activityName.invalid && this.addActivityFormGroup.controls.activityName.dirty" class="validator-error">
                未入力です
              </div>
              <input class="form-control" formControlName="activityName" placeholder="必須">
            </div>
          </div>
        </div>
        <div class="panel-item">
          <div class="panel-item-title">営業開始時間</div>
          <div class="panel-item-input">
            <input class="form-control time-picker" formControlName="activityOpenTimeHours" (change)="onChangeOpenHours($event.target.value)">
            <span class="spacer">時</span>
            <input class="form-control time-picker" formControlName="activityOpenTimeMinutes" (change)="onChangeOpenMinutes($event.target.value)">
            <span class="spacer">分</span>
          </div>
        </div>
        <div class="panel-item">
          <div class="panel-item-title">営業終了時間</div>
          <div class="panel-item-input">
            <input class="form-control time-picker" formControlName="activityCloseTimeHours" (change)="onChangeCloseHours($event.target.value)">
            <span class="spacer">時</span>
            <input class="form-control time-picker" formControlName="activityCloseTimeMinutes" (change)="onChangeCloseMinutes($event.target.value)">
            <span class="spacer">分</span>
          </div>
        </div>
        <div class="panel-item">
          <div class="panel-item-title">住所</div>
          <div class="panel-item-input">
            <input class="form-control" formControlName="activityAddress">
          </div>
        </div>
        <div class="panel-item">
          <div class="panel-item-title">URL</div>
          <div class="panel-item-input">
            <input class="form-control" formControlName="activityUrl">
          </div>
        </div>
        <div class="panel-item mt-5" *ngIf="editMode !== EditMode.routeCreate">
          <div class="panel-item-title">連続で作成する</div>
          <div class="panel-item-input">
            <mat-slide-toggle [color]="'primary'" [(ngModel)]="continueCreateFlg" [ngModelOptions]="{standalone: true}"></mat-slide-toggle>
          </div>
        </div>
      </form>
      <div class="panel-footer">
        <button type="button" class="btn btn-primary" (click)="onClickSave()">
          <span>保存</span>
        </button>
      </div>
    </div>
  </div>
</body>

</html>