<div class="drag-container">
  <ng-content></ng-content>
  <div class="list-bean panel">
    <div class="thumbnail-area">
      <!-- TODO サムネイル -->
      <img class="thumbnail" src="./favicon.ico">
    </div>
    <div class="w-100">
      <div class="bean-title">
        <mat-icon class="bean-icon">restaurant</mat-icon>
        <!-- TODO idとbeanDivを渡す-->
        <a href="add-tourism-page;tourismId={{detail.restaurantId}}" target="_blank">{{detail.restaurant.restaurantName}}</a>
        <span class="material-icons close" (click)="onClickDeleteButton()">close</span>
      </div>

      <div class="div-border-line"></div>

      <form [formGroup]="routeDetailRestaurantFormGroup">
        <div class="bean-info">

          <!-- ******** bean left ******** -->
          <div class="bean-info-left">
            <div class="bean-info-item">
              <span class="bean-info-label">(所要)</span>
              <input class="form-control text-center" formControlName="restaurantMinutes">
              <span *ngIf="detail.restaurantMinutes" class="bean-info-label spacer">分</span>
            </div>
            <div class="bean-info-item">
              <div class="meal-kind-icon" [ngSwitch]="routeDetailRestaurantFormGroup.value.mealKindDiv">
                <mat-icon *ngSwitchCase="mealKindDiv.BreakFast">local_cafe</mat-icon>
                <mat-icon *ngSwitchCase="mealKindDiv.Lunch">fastfood</mat-icon>
                <mat-icon *ngSwitchCase="mealKindDiv.Dinner">restaurant</mat-icon>
                <mat-icon *ngSwitchCase="mealKindDiv.Gourmet">restaurant_menu</mat-icon>
                <mat-icon *ngSwitchCase="mealKindDiv.Snack">local_pizza</mat-icon>
                <mat-icon *ngSwitchCase="mealKindDiv.Other">local_bar</mat-icon>
              </div>
              <select class="form-control" formControlName="mealKindDiv">
                <option *ngFor="let item of mealKindDivList" value={{item.div}}>{{item.name}}</option>
              </select>
            </div>
          </div>

          <!-- ******** bean center ******** -->
          <div class="bean-info-center">
            <div class="bean-info-item">
              <span class="bean-info-label">営業開始</span>
              <span class="bean-info-label">{{detail.restaurantStartTime}}</span>
            </div>
            <div class="bean-info-item">
              <span class="bean-info-label">営業終了</span>
              <span class="bean-info-label">{{detail.restaurantEndTime}}</span>
            </div>
          </div>

          <!-- ******** bean right ******** -->
          <div class="bean-info-right">
            <!-- TODO レートの更新できてるか？ -->
            <ngb-rating
              [rate]="detail.restaurantRate"
              [max]="5"
            ></ngb-rating>
            <div class="bean-info-item">
              <span class="bean-info-label cost-label">費用</span>
              <span>：</span>
              <input class="form-control text-right cost-input" formControlName="restaurantCost">
              <span class="spacer">円</span>
            </div>
          </div>

          <!-- ドラッグインジケータ -->
          <mat-icon class="bean-icon drag-handle-icon">drag_indicator</mat-icon>

        </div>
      </form>
    </div>
  </div>
</div>
