<div class="drag-container">
  <ng-content></ng-content>

  <div class="list-bean-memo">
    <form [formGroup]="routeDetailMemoFormGroup">
      <div class="bean">
        <span class="material-icons info">info</span>
        <input class="form-control memo-content-input" formControlName="memoContent">

        <!-- ドラッグインジケータ -->
        <mat-icon class="bean-icon drag-handle-icon">drag_indicator</mat-icon>

        <span class="material-icons close" (click)="onClickDeleteButton()">close</span>
      </div>
    </form>
  </div>
</div>