.list-bean-memo {
  width: 95%;
  margin-left: auto;
  margin-top: 0.2rem;
}

.close {
  font-size: 1rem;
  cursor: default;
  margin: 0 0.55em;
}

.info {
  color: cornflowerblue;
  cursor: default;
  margin: 0 0.07rem;
}

.bean {
  display: flex;
  align-items: center;

  .memo-content-input {
    width: 100%;
    margin-left: 0.6rem;
  }

  button {
    text-align: right;
  }
}