.title-area {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0.5rem;
  justify-content: space-between;

  &-right {
    display: flex;
    margin-left: auto;

    button {
      height: 2rem;
      padding: 0 1rem;
      
      .add-tourism-button {
        display: flex;
        align-items: center;
      }
    }
  }

}

.footer-button {
  margin-top: 1rem;
  width: 100%;
}

ag-grid-angular {
  height: calc(100% - 5.5rem);
}