<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>スポット登録</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta name="description" content="">
  <meta name="keywords" content="">
</head>

<body>
  <div class="container-fulid m-content">
    <div id="main-content" class="panel panel-default">
      <div class="panel-header">
        <button type="button" (click)="onClickBack()" class="btn btn-outline-info back-button">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="title">スポットを追加</span>
      </div>
      <form id="add-touris-item" class="panel-body" [formGroup]="addTourismFormGroup">
        <div class="panel-item">
          <share-image-input class="w-100">
          </share-image-input>
        </div>
        <hr>
        <div class="panel-item">
          <div class="panel-item-title">スポット名称</div>
          <div class="panel-item-input">
            <div class="w-100">
              <div *ngIf="this.addTourismFormGroup.controls.tourismName.invalid && this.addTourismFormGroup.controls.tourismName.dirty" class="validator-error">
                未入力です
              </div>
              <input class="form-control" formControlName="tourismName" placeholder="必須">
            </div>
          </div>
        </div>
        <div class="panel-item">
          <div class="panel-item-title">国</div>
          <div class="panel-item-input">
            <input class="form-control" type="text" matInput
              formControlName="country"
              [matAutocomplete]="auto"
              [formControl]="addTourismFormGroup.controls.country"
              (blur)="onBlurCountry()"
            >
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
                {{country}}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
        <div class="panel-item">
          <div class="panel-item-title">概要</div>
          <div class="panel-item-input">
            <textarea class="form-control" formControlName="memo"></textarea>
          </div>
        </div>
        <div class="panel-item">
          <div class="panel-item-title">費用（予算）</div>
          <div class="panel-item-input">
            <input class="form-control" formControlName="costExpectation" (change)="onChangeCostExpectation()">
            <span class="spacer">円</span>
          </div>
        </div>
        <div class="panel-item">
          <div class="panel-item-title">所要時間（予想）</div>
          <div class="panel-item-input">
            <input class="form-control time-picker" formControlName="requiredHours" (change)="onChangeHours()">
            <span class="spacer">時間</span>
            <input class="form-control time-picker" formControlName="requiredMinutes" (change)="onChangeMinutes()">
            <span class="spacer">分</span>
          </div>
        </div>
        <div class="panel-item">
          <div class="panel-item-title">URL</div>
          <div class="panel-item-input">
            <input class="form-control" formControlName="url">
          </div>
        </div>
        <div class="panel-item mt-5" *ngIf="editMode !== EditMode.routeCreate">
          <div class="panel-item-title">連続で作成する</div>
          <div class="panel-item-input">
            <mat-slide-toggle [color]="'primary'" [(ngModel)]="continueCreateFlg" [ngModelOptions]="{standalone: true}"></mat-slide-toggle>
          </div>
        </div>
      </form>
      <div class="panel-footer">
        <button type="button" class="btn btn-primary" (click)="onClickSave()">
          <span>保存</span>
        </button>
      </div>
    </div>
  </div>
</body>

</html>